{% extends 'base.html' %}
{% block title %}
	List of products - {{ block.super }}
{% endblock %}

{% block content %}
		<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
			</div>
		</div>
	</div>

	<div class="site-section">
	<div class="container">

	<div class="row">
		<div class="col-lg-6">
			<h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
			<div id="slider-range" class="border-primary"></div>
			<input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
		</div>
		<div class="col-lg-6">
			<h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Reference</h3>
			<button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
			        data-toggle="dropdown">Reference</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
				<a class="dropdown-item" href="{% url 'drugs-list' %}?category={{ request.GET.category }}&sort=title">Name, A to Z</a>
				<a class="dropdown-item" href="{% url 'drugs-list' %}?category={{ request.GET.category }}&sort=-title">Name, Z to A</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'drugs-list' %}?category={{ request.GET.category }}&sort=price">Price, low to high</a>
				<a class="dropdown-item" href="{% url 'drugs-list' %}?category={{ request.GET.category }}&sort=-price">Price, high to low</a>
			</div>
		</div>
	</div>

		<div class="row">
			{% for drug in drugs %}
				<div class="col-sm-6 col-lg-4 text-center item mb-4">
					{% if drug.image %}
						<a href="{% url 'drug-detail' drug.id %}"> <img width="250" height="250" src="{{ drug.image.url }}" alt="Image"></a>
					{% endif %}
					<h3 class="text-dark"><a href="{% url 'drug-detail' drug.id %}">{{ drug.title }}</a></h3>
					<p class="price">${{ drug.price }}</p>

				</div>
			{% endfor %}
		</div>


	<div class="row mt-5">
		<div class="col-md-12 text-center">
			<div class="site-block-27" >
				<ul >
					{% if page_obj.has_previous  %}
						<li class="page-item"><a class="page-link" href="?category={{ request.GET.category }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
					{% endif %}
					<li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
					{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link" href="?category={{ request.GET.category }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
					{% endif %}
					<li class="page-item disabled">
						<span class="page-link">...</span>

					</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
